<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="mjt.shopper"
    android:installLocation="auto">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/title_activity_main"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
            <activity
                android:name=".ShopListByCursorActivity"
                android:label="@string/title_activity_shop_list_by_cursor"
                android:parentActivityName=".MainActivity"
                android:screenOrientation="portrait">
            </activity>
                <activity
                    android:name=".ShopAddActivity"
                    android:label="@string/title_activity_shop_add"
                    android:screenOrientation="portrait" >
                </activity>
        <activity android:name=".AisleListByCursorActivity"
                android:label="@string/title_activity_ailse_list_by_cursor"
                android:parentActivityName=".MainActivity"
                android:screenOrientation="portrait">
            </activity>
                <activity android:name=".AisleAddActivity"
                    android:label="@string/title_activity_aisle_add"
                    android:screenOrientation="portrait">
                </activity>
            <activity android:name="ProductListByCursorActivity"
                android:label="@string/title_activity_product_list"
                android:parentActivityName=".MainActivity"
                android:screenOrientation="portrait">
            </activity>
                <activity android:name=".ProductAddActivity"
                    android:label="@string/title_activity_product_add"
                    android:screenOrientation="portrait">
                </activity>
                <activity android:name=".AddProductToShopActivity"
                    android:label="@string/title_activity_add_product_to_shop"
                    android:screenOrientation="portrait">
                </activity>
        <activity android:name=".Database_Inspector_Activity"
                android:label="Database Inspector"
                android:parentActivityName=".MainActivity"
                android:screenOrientation="portrait">
            </activity>
            <activity android:name=".DatabaseSchema"
                android:label="Database Information"
                android:parentActivityName=".MainActivity"
                android:screenOrientation="portrait">
            </activity>
                <activity android:name=".ProductUsageEdit"
                    android:label="@string/title_activityproductusage_edit"
                    android:screenOrientation="portrait">
                </activity>
            <activity android:name=".AddPurchasableProductsToShopList"
                android:label="Add to Shop List"
                android:parentActivityName=".MainActivity"
                android:screenOrientation="portrait">
            </activity>
            <activity android:name=".ShoppingListActivity"
                android:label="Shopping List"
                android:parentActivityName=".MainActivity"
                android:screenOrientation="portrait">
            </activity>
        <activity android:name=".RuleAddEditList"
                android:label="Rules"
                android:parentActivityName=".MainActivity"
                android:screenOrientation="portrait">
            </activity>
            <activity android:name=".UserSettings"
                android:label="User Settings"
                android:parentActivityName=".MainActivity"
                android:screenOrientation="portrait">
            </activity>
        <activity android:name=".RuleAddEdit"
            android:label="Add/Edit Rule"
            android:screenOrientation="portrait">
        </activity>
    </application>
</manifest>
